# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2

updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: monthly
    target-branch: develop
    labels:
      - upgrade
    versioning-strategy: increase-if-necessary

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    target-branch: develop
    labels:
      - upgrade
